- color scheme / main visuals / branding
- intro sql
- basic website framework (no big construction)
- more basic sql (form --> sql)
- fake data (price, procedure (50), location

---------------------------- sleeping

-  waffle time


