website
- color scheme / main visuals / branding
- basic website framework (no big construction)
- create basic form entry structure


in between
- find out how to make a search box
- find list of 50 most common procedures and figure out
- fake data (price, procedure (50), location


data
- intro sql
- more basic sql (form --> sql)

---------------------------- sleeping

-  waffle time

- probably some workshops

-----------------------------

- figure out form --> sql (actually this time)
- make website pretty
- create 