- color scheme / main visuals / branding
- find list of 50 most common procedures and figure out
- find out how to make a search box
- connect search box with 50 most common procedures
- intro sql
- basic website framework (no big construction)
- more basic sql (form --> sql)
- fake data (price, procedure (50), location

---------------------------- sleeping

-  waffle time

- probably some workshops

-----------------------------

- figure out form --> sql (actually this time)
- find 